$color-0: #eef9ff;
$color-50: #CFECFC;
$color-100: #BCE5FB;
$color-150: #A8DDFA;
$color-200: #95D6F9;
$color-300: #6EC6F7;
$color-400: #48B7F5;
$color-500: #21A8F3;
$color-600: #0C91DA;
$color-700: #0974AF;
$color-750: #086599;
$color-800: #075783;
$color-850: #06486D;